@import "../../components/layout/footer/styles";
@import "../../views/Home/components/body/components/aboutBG/styles";
@import "../../views/Home/components/body/components/heroBG/styles";
@import "../../views/Home/components/body/components/shBG/_styles";
@import "../../views/Home/components/body/components/hiwBg/styles";
@import "../../views/Home/components/body/components/services/styles";
@import "../../views/Home/components/body/components/team/styles";
@import "../../components/layout/header/styles";