// import fonts below here preference: googleFonts

// import file dirs below here example: @import "./breakpoints";
@import "./breakpoints";

// global environment setting
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Disclaimer: don't right any other code other done the described above

